/* .projects {
    padding: 30px;
    padding-bottom: 0;
}

.projects .col {
    padding: 30px;
    min-width: 300px;
    max-width: 600px;
}

.projects img {
    background-color: #212529;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 80%;
} */