.header {
    background-color: #161b22;
}

.header .name {
    min-width: 210px;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 30px;
}

.header a {
    text-decoration: none;
    color: #c9d1d9;
    font-size: 1.8rem;
}

.header .nav-col {
    padding: 0;
}

.nav-col .nav-tabs {
    padding-top: 30px;
}

.nav-col .nav-item {
    margin-right: 5px;
}