.about-row {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 15px;
}

.about-row h2 {
    font-size: 40px;
}

.about-row p {
    font-size: 25px;
}

div img {
    max-height: 300px;
}

@media (min-width: 768px) {
    .about-row {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 330px;
    }
}