#app {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
}

section img {
  background-color: #212529;
  max-width: 500px;
}

section a {
  text-decoration: underline;
  color: white;
  font-size: larger;
}

p {
  font-size: larger;
}
